In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (2.0.28)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install plotly.express

Requirement already satisfied: plotly.express in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (0.4.1)
Requirement already satisfied: pandas>=0.20.0 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from plotly.express) (2.2.1)
Requirement already satisfied: plotly>=4.1.0 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from plotly.express) (5.19.0)
Requirement already satisfied: statsmodels>=0.9.0 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from plotly.express) (0.14.1)
Requirement already satisfied: scipy>=0.18 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from plotly.express) (1.12.0)
Requirement already satisfied: patsy>=0.5 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from plotly.express) (0.5.6)
Requirement already satisfied: numpy>=1.11 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from plotly.express) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from pandas>=0.20.0->plotly.express) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from pandas>=0.20.0->plotly.express) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from pandas>=0.20.0->plotly.express) (2024.1)
Requirement already satisfied: six in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from patsy>=0.5->plotly.express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from plotly>=4.1.0->plotly.express) (8.2.3)
Requirement already satisfied: packaging in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from plotly>=4.1.0->plotly.express) (23.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
pip install nbformat --upgrade

Requirement already satisfied: nbformat in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (5.9.2)
Requirement already satisfied: fastjsonschema in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from nbformat) (4.21.1)
Requirement already satisfied: jupyter-core in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from nbformat) (5.7.1)
Requirement already satisfied: traitlets>=5.1 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from nbformat) (5.14.1)
Requirement already satisfied: attrs>=22.2.0 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (0.33.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from jupyter-core->nbformat) (4.2.0)
Requirement already satisfied: pywin32>=300 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from jupyter-core->nbformat) (306)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
pip install matplotlib

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: matplotlib in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\gd\notes\ds class\dtm15\project\phonepay project\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd
import json
import os
import psycopg2

from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:1005@localhost/phonepay')

import plotly.express as px

import matplotlib.pyplot as plt

In [8]:
path="C:/GD/Notes/DS Class/DTM15/Project/Phonepay project/github/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))

agg_trans=pd.DataFrame(clm)

agg_trans['State']=agg_trans['State'].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
agg_trans['State']=agg_trans['State'].str.replace('jammu-&-kashmir', 'jammu & kashmir')
agg_trans['State']=agg_trans['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
agg_trans['State']=agg_trans['State'].str.replace("-"," ")
agg_trans['State']=agg_trans['State'].str.title()

In [9]:
agg_trans

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4309,West Bengal,2023,4,Merchant payments,354067997,2.390738e+11
4310,West Bengal,2023,4,Peer-to-peer payments,317959249,9.641385e+11
4311,West Bengal,2023,4,Recharge & bill payments,64920775,4.531943e+10
4312,West Bengal,2023,4,Financial Services,480740,4.590073e+08
4313,West Bengal,2023,4,Others,524477,4.041567e+08

In [10]:
#2 aggregated/user
path="C:/GD/Notes/DS Class/DTM15/Project/Phonepay project/github/pulse/data/aggregated/user/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

clm={'State':[], 'Year':[],'Quater':[],'user_brand':[], 'reg_userbrand_count':[], 'reg_percentage':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            try:
                for z in D['data']['usersByDevice']:
                    Brand=z['brand']
                    count=z['count']
                    percentage=z['percentage']
                    clm['user_brand'].append(Brand)
                    clm['reg_userbrand_count'].append(count)
                    clm['reg_percentage'].append(percentage)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))
            except:
                pass

agg_users=pd.DataFrame(clm)

agg_users['State']=agg_users['State'].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
agg_users['State']=agg_users['State'].str.replace('jammu-&-kashmir', 'jammu & kashmir')
agg_users['State']=agg_users['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
agg_users['State']=agg_users['State'].str.replace("-"," ")
agg_users['State']=agg_users['State'].str.title()

In [11]:
agg_users

,State,Year,Quater,user_brand,reg_userbrand_count,reg_percentage
0,Andaman & Nicobar,2018,1,Xiaomi,1665,0.247033
1,Andaman & Nicobar,2018,1,Samsung,1445,0.214392
2,Andaman & Nicobar,2018,1,Vivo,982,0.145697
3,Andaman & Nicobar,2018,1,Oppo,501,0.074332
4,Andaman & Nicobar,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,West Bengal,2022,1,Lenovo,330017,0.015056
6728,West Bengal,2022,1,Infinix,284678,0.012987
6729,West Bengal,2022,1,Asus,280347,0.012790
6730,West Bengal,2022,1,Apple,277752,0.012671
6731,West Bengal,2022,1,Others,2196334,0.100199

In [12]:
#3 map/transaction
path="C:/GD/Notes/DS Class/DTM15/Project/Phonepay project/github/pulse/data/map/transaction/hover/country/india/state/"
map_state_list=os.listdir(path)
map_state_list

clm={'State':[], 'Year':[],'Quater':[],'district_name':[], 'transaction_count':[], 'transaction_amount':[]}

for i in map_state_list:
    p_i=path+i+"/"
    map_yr=os.listdir(p_i)
    for j in map_yr:
        p_j=p_i+j+"/"
        map_yr_list=os.listdir(p_j)
        for k in map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            try:
              for z in D['data']['hoverDataList']:
                Name=z['name']
                count=z['metric'][0]['count']
                amount=z['metric'][0]['amount']
                clm['district_name'].append(Name)
                clm['transaction_count'].append(count)
                clm['transaction_amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))
            except Exception as e:
              print(f"Error processing file '{p_k}': {e}")

map_trans=pd.DataFrame(clm)

map_trans['State']=map_trans['State'].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
map_trans['State']=map_trans['State'].str.replace('jammu-&-kashmir', 'jammu & kashmir')
map_trans['State']=map_trans['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
map_trans['State']=map_trans['State'].str.replace("-"," ")
map_trans['State']=map_trans['State'].str.title()

In [13]:
map_trans

,State,Year,Quater,district_name,transaction_count,transaction_amount
0,Andaman & Nicobar,2018,1,north and middle andaman district,442,9.316631e+05
1,Andaman & Nicobar,2018,1,south andaman district,5688,1.256025e+07
2,Andaman & Nicobar,2018,1,nicobars district,528,1.139849e+06
3,Andaman & Nicobar,2018,2,north and middle andaman district,825,1.317863e+06
4,Andaman & Nicobar,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
17559,West Bengal,2023,4,nadia district,36242432,6.879568e+10
17560,West Bengal,2023,4,birbhum district,20708496,3.690499e+10
17561,West Bengal,2023,4,purba medinipur district,40572042,7.981990e+10
17562,West Bengal,2023,4,maldah district,34654950,6.416729e+10
17563,West Bengal,2023,4,darjiling district,16807885,2.793986e+10

In [14]:
#4 map/User
path="C:/GD/Notes/DS Class/DTM15/Project/Phonepay project/github/pulse/data/map/user/hover/country/india/state/"
map_state_list=os.listdir(path)
map_state_list

clm={'State':[], 'Year':[],'Quater':[],'District_name':[], 'reg_users':[], 'app_opens':[]}

for i in map_state_list:
    p_i=path+i+"/"
    map_yr=os.listdir(p_i)
    for j in map_yr:
        p_j=p_i+j+"/"
        map_yr_list=os.listdir(p_j)
        for k in map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverData'].items():
              district=z[0]
              regusers=z[1]['registeredUsers']
              appopens=z[1]['appOpens']
              clm['District_name'].append(district)
              clm['reg_users'].append(regusers)
              clm['app_opens'].append(appopens)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))

map_users=pd.DataFrame(clm)

map_users['State']=map_users['State'].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
map_users['State']=map_users['State'].str.replace('jammu-&-kashmir', 'jammu & kashmir')
map_users['State']=map_users['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
map_users['State']=map_users['State'].str.replace("-"," ")
map_users['State']=map_users['State'].str.title()

In [15]:
map_users

,State,Year,Quater,District_name,reg_users,app_opens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
17563,West Bengal,2023,4,nadia district,1603527,67224546
17564,West Bengal,2023,4,birbhum district,1013025,52281841
17565,West Bengal,2023,4,purba medinipur district,1589203,69991821
17566,West Bengal,2023,4,maldah district,1134600,88292475
17567,West Bengal,2023,4,darjiling district,660231,39079247

In [16]:
#5 Top transaction
path="C:/GD/Notes/DS Class/DTM15/Project/Phonepay project/github/pulse/data/top/transaction/country/india/state/"
top_state_list=os.listdir(path)
top_state_list

clm={'State':[], 'Year':[],'Quater':[],'pincodes':[], 'transaction_count':[], 'transaction_amount':[]}

for i in top_state_list:
    p_i=path+i+"/"
    top_yr=os.listdir(p_i)
    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)
        for k in top_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
                Entity_name=z['entityName']
                count=z['metric']['count']
                amount=z['metric']['amount']
                clm['pincodes'].append(Entity_name)
                clm['transaction_count'].append(count)
                clm['transaction_amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))

top_trans=pd.DataFrame(clm)

top_trans['State']=top_trans['State'].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
top_trans['State']=top_trans['State'].str.replace('jammu-&-kashmir', 'jammu & kashmir')
top_trans['State']=top_trans['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
top_trans['State']=top_trans['State'].str.replace("-"," ")
top_trans['State']=top_trans['State'].str.title()

In [17]:
top_trans

,State,Year,Quater,pincodes,transaction_count,transaction_amount
0,Andaman & Nicobar,2018,1,744101,1622,2.769298e+06
1,Andaman & Nicobar,2018,1,744103,1223,2.238042e+06
2,Andaman & Nicobar,2018,1,744102,969,3.519060e+06
3,Andaman & Nicobar,2018,1,744105,685,1.298561e+06
4,Andaman & Nicobar,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8562,West Bengal,2023,4,721301,4133775,5.718222e+09
8563,West Bengal,2023,4,700001,3983241,8.039689e+09
8564,West Bengal,2023,4,732125,3950411,6.557345e+09
8565,West Bengal,2023,4,700039,3742452,5.608622e+09
8566,West Bengal,2023,4,700014,3652710,6.184795e+09

In [18]:
#6 top/user
path="C:/GD/Notes/DS Class/DTM15/Project/Phonepay project/github/pulse/data/top/user/country/india/state/"
top_state_list=os.listdir(path)
top_state_list

clm={'State':[], 'Year':[],'Quater':[],'Pincodes': [], 'reg_users':[]}

for i in top_state_list:
    p_i=path+i+"/"
    top_yr=os.listdir(p_i)
    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)
        for k in top_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
                Name=z['name']
                reg_users=z['registeredUsers']
                clm['Pincodes'].append(Name)
                clm['reg_users'].append(reg_users)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))

top_user=pd.DataFrame(clm)

top_user['State']=top_user['State'].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
top_user['State']=top_user['State'].str.replace('jammu-&-kashmir', 'jammu & kashmir')
top_user['State']=top_user['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
top_user['State']=top_user['State'].str.replace("-"," ")
top_user['State']=top_user['State'].str.title()

In [19]:
top_user

                  State  Year  Quater Pincodes  reg_users
0     Andaman & Nicobar  2018       1   744103       1608
1     Andaman & Nicobar  2018       1   744101       1108
2     Andaman & Nicobar  2018       1   744105       1075
3     Andaman & Nicobar  2018       1   744102       1006
4     Andaman & Nicobar  2018       1   744104        272
...                 ...   ...     ...      ...        ...
8563        West Bengal  2023       4   700015     126663
8564        West Bengal  2023       4   742304     123320
8565        West Bengal  2023       4   721101     123088
8566        West Bengal  2023       4   700150     119283
8567        West Bengal  2023       4   700091     118578

[8568 rows x 5 columns]

In [20]:
agg_trans.to_sql('agg_trans', engine, if_exists='replace', index=False)
agg_users.to_sql('agg_users', engine, if_exists='replace', index=False)
map_trans.to_sql('map_trans', engine, if_exists='replace', index=False)
map_users.to_sql('map_users', engine, if_exists='replace', index=False)
top_trans.to_sql('top_trans', engine, if_exists='replace', index=False)
top_user.to_sql('top_user', engine, if_exists='replace', index=False)

568

In [21]:
agg_trans_df = pd.read_sql('agg_trans', engine)
agg_trans_df

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4309,West Bengal,2023,4,Merchant payments,354067997,2.390738e+11
4310,West Bengal,2023,4,Peer-to-peer payments,317959249,9.641385e+11
4311,West Bengal,2023,4,Recharge & bill payments,64920775,4.531943e+10
4312,West Bengal,2023,4,Financial Services,480740,4.590073e+08
4313,West Bengal,2023,4,Others,524477,4.041567e+08

In [ ]:
df = agg_trans_df.query('Year == "2023"')
fig = px.choropleth(
    df,
    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='State',
    color='Transacion_count',
    color_continuous_scale='Rainbow',
    range_color = (df['Transacion_count'].min(), df['Transacion_count'].max()),
    title = 'Transacion count'
    )

fig.update_geos(fitbounds="locations", visible=False)

fig.show()

In [23]:
agg_trans_df.query(' State == "Tamil Nadu" and Year == "2023" and Quater == 1 and Transacion_type == "Merchant payments" ')

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
3694,Tamil Nadu,2023,1,Merchant payments,248540772,1.242503e+11

In [24]:
fig = px.sunburst(agg_trans_df, path=['Transacion_type', 'Year'], values='Transacion_count')
fig.show()